NMSService/Web References/NMSServiceReference/TimeSheetBotService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/TimeSheetBotService" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/TimeSheetBotService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50073" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50073" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Employee">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No." type="string" />
          <element minOccurs="1" maxOccurs="1" name="FirstName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="LastName" type="string" />
        </sequence>
      </complexType>
      <complexType name="root" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="Employee" type="tns:Employee" />
        </sequence>
      </complexType>
      <element name="root" type="tns:root" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50070" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50070" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Employee">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="No." type="string" />
          <element minOccurs="1" maxOccurs="1" name="FirstName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="LastName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="PhoneNo." type="string" />
        </sequence>
      </complexType>
      <complexType name="root" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="Employee" type="tns:Employee" />
        </sequence>
      </complexType>
      <element name="root" type="tns:root" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50071" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50071" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="TimeSheet">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="PostingDate" type="string" />
          <element minOccurs="1" maxOccurs="1" name="DayName" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ProjectNo." type="string" />
          <element minOccurs="1" maxOccurs="1" name="AssignementCode" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Quantity" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Comment" type="string" />
          <element minOccurs="1" maxOccurs="1" name="JobTaskFullNo." type="string" />
          <element minOccurs="1" maxOccurs="1" name="TaskDescription" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ExternalNo." type="string" />
        </sequence>
      </complexType>
      <complexType name="root" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="TimeSheet" type="tns:TimeSheet" />
        </sequence>
      </complexType>
      <element name="root" type="tns:root" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50072" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50072" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="TimeSheet">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="PostingDate" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="DayName" type="string" />
          <element minOccurs="1" maxOccurs="unbounded" name="Quantity" type="string" />
        </sequence>
      </complexType>
      <complexType name="root" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="TimeSheet" type="tns:TimeSheet" />
        </sequence>
      </complexType>
      <element name="root" type="tns:root" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50074" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50074" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Projects">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="ProjectNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="ProjectDescription" type="string" />
        </sequence>
      </complexType>
      <complexType name="root" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="Projects" type="tns:Projects" />
        </sequence>
      </complexType>
      <element name="root" type="tns:root" />
    </schema>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x50075" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x50075" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="Projects">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="TaskNo" type="string" />
          <element minOccurs="1" maxOccurs="1" name="TaskDescription" type="string" />
          <element minOccurs="1" maxOccurs="1" name="AssignmentCode" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Description" type="string" />
        </sequence>
      </complexType>
      <complexType name="root" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="Projects" type="tns:Projects" />
        </sequence>
      </complexType>
      <element name="root" type="tns:root" />
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/TimeSheetBotService" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="GetEmployeeByID">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="channelType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="channelID" type="string" />
            <element xmlns:q1="urn:microsoft-dynamics-nav/xmlports/x50073" minOccurs="1" maxOccurs="1" name="employeeByIDXMLPort" type="q1:root" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetEmployeeByID_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
            <element xmlns:q2="urn:microsoft-dynamics-nav/xmlports/x50073" minOccurs="1" maxOccurs="1" name="employeeByIDXMLPort" type="q2:root" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetEmployeeByPhoneNo">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="phoneNo" type="string" />
            <element xmlns:q3="urn:microsoft-dynamics-nav/xmlports/x50070" minOccurs="1" maxOccurs="1" name="employeeXMLPort" type="q3:root" />
          </sequence>
        </complexType>
      </element>
      <element name="GetEmployeeByPhoneNo_Result">
        <complexType>
          <sequence>
            <element xmlns:q4="urn:microsoft-dynamics-nav/xmlports/x50070" minOccurs="1" maxOccurs="1" name="employeeXMLPort" type="q4:root" />
          </sequence>
        </complexType>
      </element>
      <element name="TimeSheetsPerDay">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="dateP" type="date" />
            <element minOccurs="1" maxOccurs="1" name="employeeNoP" type="string" />
            <element xmlns:q5="urn:microsoft-dynamics-nav/xmlports/x50071" minOccurs="1" maxOccurs="1" name="timeSheetPerDayXMLPort" type="q5:root" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="TimeSheetsPerDay_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
            <element xmlns:q6="urn:microsoft-dynamics-nav/xmlports/x50071" minOccurs="1" maxOccurs="1" name="timeSheetPerDayXMLPort" type="q6:root" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="TimeSheetsPerWeek">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="startDateP" type="date" />
            <element minOccurs="1" maxOccurs="1" name="endDateP" type="date" />
            <element minOccurs="1" maxOccurs="1" name="employeeNoP" type="string" />
            <element xmlns:q7="urn:microsoft-dynamics-nav/xmlports/x50072" minOccurs="1" maxOccurs="1" name="timeSheetPerWeekXMLPort" type="q7:root" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="TimeSheetsPerWeek_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
            <element xmlns:q8="urn:microsoft-dynamics-nav/xmlports/x50072" minOccurs="1" maxOccurs="1" name="timeSheetPerWeekXMLPort" type="q8:root" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AddEmployeeByEMail">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="channelType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="eMail" type="string" />
            <element minOccurs="1" maxOccurs="1" name="firstName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lastName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AddEmployeeByEMail_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
            <element minOccurs="1" maxOccurs="1" name="firstName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lastName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ValidatePassCode">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="channelType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="eMail" type="string" />
            <element minOccurs="1" maxOccurs="1" name="passCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="channelID" type="string" />
            <element xmlns:q9="urn:microsoft-dynamics-nav/xmlports/x50073" minOccurs="1" maxOccurs="1" name="employeeByIDXMLPort" type="q9:root" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ValidatePassCode_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
            <element xmlns:q10="urn:microsoft-dynamics-nav/xmlports/x50073" minOccurs="1" maxOccurs="1" name="employeeByIDXMLPort" type="q10:root" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetEmployeeProjects">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNoP" type="string" />
            <element xmlns:q11="urn:microsoft-dynamics-nav/xmlports/x50074" minOccurs="1" maxOccurs="1" name="employeeProjectsXMLPort" type="q11:root" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetEmployeeProjects_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
            <element xmlns:q12="urn:microsoft-dynamics-nav/xmlports/x50074" minOccurs="1" maxOccurs="1" name="employeeProjectsXMLPort" type="q12:root" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetEmployeeTasks">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="projectNoP" type="string" />
            <element xmlns:q13="urn:microsoft-dynamics-nav/xmlports/x50075" minOccurs="1" maxOccurs="1" name="employeeTasksXMLPort" type="q13:root" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetEmployeeTasks_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
            <element xmlns:q14="urn:microsoft-dynamics-nav/xmlports/x50075" minOccurs="1" maxOccurs="1" name="employeeTasksXMLPort" type="q14:root" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AddTimeSheet">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="employeeNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dateP" type="date" />
            <element minOccurs="1" maxOccurs="1" name="projectNoP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="assignmentCodeP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="qtyP" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="commentP" type="string" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AddTimeSheet_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
            <element minOccurs="1" maxOccurs="1" name="errorText" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="GetEmployeeByID">
    <part name="parameters" element="tns:GetEmployeeByID" />
  </message>
  <message name="GetEmployeeByID_Result">
    <part name="parameters" element="tns:GetEmployeeByID_Result" />
  </message>
  <message name="GetEmployeeByPhoneNo">
    <part name="parameters" element="tns:GetEmployeeByPhoneNo" />
  </message>
  <message name="GetEmployeeByPhoneNo_Result">
    <part name="parameters" element="tns:GetEmployeeByPhoneNo_Result" />
  </message>
  <message name="TimeSheetsPerDay">
    <part name="parameters" element="tns:TimeSheetsPerDay" />
  </message>
  <message name="TimeSheetsPerDay_Result">
    <part name="parameters" element="tns:TimeSheetsPerDay_Result" />
  </message>
  <message name="TimeSheetsPerWeek">
    <part name="parameters" element="tns:TimeSheetsPerWeek" />
  </message>
  <message name="TimeSheetsPerWeek_Result">
    <part name="parameters" element="tns:TimeSheetsPerWeek_Result" />
  </message>
  <message name="AddEmployeeByEMail">
    <part name="parameters" element="tns:AddEmployeeByEMail" />
  </message>
  <message name="AddEmployeeByEMail_Result">
    <part name="parameters" element="tns:AddEmployeeByEMail_Result" />
  </message>
  <message name="ValidatePassCode">
    <part name="parameters" element="tns:ValidatePassCode" />
  </message>
  <message name="ValidatePassCode_Result">
    <part name="parameters" element="tns:ValidatePassCode_Result" />
  </message>
  <message name="GetEmployeeProjects">
    <part name="parameters" element="tns:GetEmployeeProjects" />
  </message>
  <message name="GetEmployeeProjects_Result">
    <part name="parameters" element="tns:GetEmployeeProjects_Result" />
  </message>
  <message name="GetEmployeeTasks">
    <part name="parameters" element="tns:GetEmployeeTasks" />
  </message>
  <message name="GetEmployeeTasks_Result">
    <part name="parameters" element="tns:GetEmployeeTasks_Result" />
  </message>
  <message name="AddTimeSheet">
    <part name="parameters" element="tns:AddTimeSheet" />
  </message>
  <message name="AddTimeSheet_Result">
    <part name="parameters" element="tns:AddTimeSheet_Result" />
  </message>
  <portType name="TimeSheetBotService_Port">
    <operation name="GetEmployeeByID">
      <input name="GetEmployeeByID" message="tns:GetEmployeeByID" />
      <output name="GetEmployeeByID_Result" message="tns:GetEmployeeByID_Result" />
    </operation>
    <operation name="GetEmployeeByPhoneNo">
      <input name="GetEmployeeByPhoneNo" message="tns:GetEmployeeByPhoneNo" />
      <output name="GetEmployeeByPhoneNo_Result" message="tns:GetEmployeeByPhoneNo_Result" />
    </operation>
    <operation name="TimeSheetsPerDay">
      <input name="TimeSheetsPerDay" message="tns:TimeSheetsPerDay" />
      <output name="TimeSheetsPerDay_Result" message="tns:TimeSheetsPerDay_Result" />
    </operation>
    <operation name="TimeSheetsPerWeek">
      <input name="TimeSheetsPerWeek" message="tns:TimeSheetsPerWeek" />
      <output name="TimeSheetsPerWeek_Result" message="tns:TimeSheetsPerWeek_Result" />
    </operation>
    <operation name="AddEmployeeByEMail">
      <input name="AddEmployeeByEMail" message="tns:AddEmployeeByEMail" />
      <output name="AddEmployeeByEMail_Result" message="tns:AddEmployeeByEMail_Result" />
    </operation>
    <operation name="ValidatePassCode">
      <input name="ValidatePassCode" message="tns:ValidatePassCode" />
      <output name="ValidatePassCode_Result" message="tns:ValidatePassCode_Result" />
    </operation>
    <operation name="GetEmployeeProjects">
      <input name="GetEmployeeProjects" message="tns:GetEmployeeProjects" />
      <output name="GetEmployeeProjects_Result" message="tns:GetEmployeeProjects_Result" />
    </operation>
    <operation name="GetEmployeeTasks">
      <input name="GetEmployeeTasks" message="tns:GetEmployeeTasks" />
      <output name="GetEmployeeTasks_Result" message="tns:GetEmployeeTasks_Result" />
    </operation>
    <operation name="AddTimeSheet">
      <input name="AddTimeSheet" message="tns:AddTimeSheet" />
      <output name="AddTimeSheet_Result" message="tns:AddTimeSheet_Result" />
    </operation>
  </portType>
  <binding name="TimeSheetBotService_Binding" type="tns:TimeSheetBotService_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="GetEmployeeByID">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TimeSheetBotService:GetEmployeeByID" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetEmployeeByID">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetEmployeeByID_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetEmployeeByPhoneNo">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TimeSheetBotService:GetEmployeeByPhoneNo" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetEmployeeByPhoneNo">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetEmployeeByPhoneNo_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="TimeSheetsPerDay">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TimeSheetBotService:TimeSheetsPerDay" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="TimeSheetsPerDay">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="TimeSheetsPerDay_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="TimeSheetsPerWeek">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TimeSheetBotService:TimeSheetsPerWeek" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="TimeSheetsPerWeek">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="TimeSheetsPerWeek_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="AddEmployeeByEMail">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TimeSheetBotService:AddEmployeeByEMail" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="AddEmployeeByEMail">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="AddEmployeeByEMail_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ValidatePassCode">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TimeSheetBotService:ValidatePassCode" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ValidatePassCode">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ValidatePassCode_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetEmployeeProjects">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TimeSheetBotService:GetEmployeeProjects" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetEmployeeProjects">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetEmployeeProjects_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetEmployeeTasks">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TimeSheetBotService:GetEmployeeTasks" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetEmployeeTasks">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetEmployeeTasks_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="AddTimeSheet">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/TimeSheetBotService:AddTimeSheet" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="AddTimeSheet">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="AddTimeSheet_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="TimeSheetBotService">
    <port name="TimeSheetBotService_Port" binding="tns:TimeSheetBotService_Binding">
      <address location="http://nmstsbot.ncdev.ru:7047/NMS_DEV/WS/PROD_2015-02-23_CUTTED/Codeunit/TimeSheetBotService" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>